*, *::before, *::after { 
    box-sizing: border-box; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
#layoutparent {
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    margin: 2rem auto 2rem auto;
    /* border: 1px solid magenta; */
}
.title {
    color: rgb(215, 115, 53);
    text-align: center;
}
#campaignimage {
    display: block;
    max-width: 100%; height: auto;
    margin: 2rem auto 2rem auto;
}
#campaignselect {
    text-align: center;
    padding-top: 2rem;
    /* border: 1px solid red; */
}
.imagebutton {
    cursor: pointer;
    border: none;
}
.imagebutton:hover {
    opacity: 75%;
}
.imagebutton:active {
    opacity: 100%;
    filter: saturate(2);
}
.buttontext {
    text-align: center;
    margin-top: 0%;
    padding-bottom: 2rem;
}
#lostboytext {
    color: rgb(80, 14, 80);
}
#kindertaletext {
    color: rgb(20, 102, 87);
}
#familytext {
    color: rgb(126, 104, 16);
}